.footer {
  margin: 0;
  padding: 0;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
}

.footer__copyright {
  margin: 0;
  padding: 60px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  opacity: 70%;
}

@media screen and (max-width: 627px) {
  .footer {
    max-width: 288px;
    margin: auto;
  }
}
