.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  z-index: 0;
  cursor: pointer;
}

.card__delete-button {
  background-image: url(../images/delete-icon.svg);
  height: 32px;
  width: 32px;
  position: absolute;
  padding: 0;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-image 0.3s ease;
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 0;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 353px;
}

.card__like-button {
  background-image: url(../images/like.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_liked {
  background-image: url(../images/liked-state.svg);
  opacity: 100%;
  transition: background-image 0.2s ease;
}

.card__like-button_liked:hover {
  background-image: url(../images/liked-hover.svg);
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__title {
    max-width: 246px;
    font-size: 16px;
  }
}
