.modal__form_delete {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.modal__button-submit_delete {
  background-color: #ff6565;
  transition: background-color 0.3s ease;
  color: black;
}

.modal__button-submit_delete:hover {
  background-color: #ff3333;
}

.modal__button-submit_cancel {
  background-color: transparent;
  color: black;
  border-style: solid;
  border-width: 1px;
  transition: background-color 0.3s ease;
}

.modal__button-submit_cancel:hover {
  background-color: black;
  color: white;
}

.modal__button-close_offset {
  right: -44px;
  top: 0;
}

.modal__title_delete {
  font-size: 24px;
  text-align: center;
}

/*Todos
-fix hover background colors to not cover text and change properly in red
-change exit symbol to white
-double check margins
*/
