.profile {
  display: flex;
  justify-content: space-between;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
  width: 190px;
  height: 190px;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__pencil-icon-light {
  margin-bottom: 12px;
  opacity: 100%;
}

.profile__avatar-button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  gap: 8px;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
}

.profile__avatar-container:hover .profile__avatar-button {
  visibility: visible;
}

.profile__avatar-button::after {
  content: "Edit Avatar";
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 12px;
  opacity: 100%;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  margin-right: auto;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  border: none;
  opacity: 70%;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__edit-button-img {
  padding-right: 8px;
}

.profile__new-post-button {
  margin-left: auto;
  margin-top: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile__new-post-button:hover {
  opacity: 80%;
}

.profile__new-post-button-img {
  height: 12px;
  width: 12px;
  padding-right: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 288px;
    padding-top: 20px;
  }

  .profile__avatar-container {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }
  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__avatar-button {
    visibility: visible;
    height: 23.34px;
    width: 23.34px;
    top: 52px;
    left: 52px;
    align-items: center;
  }

  .profile__pencil-icon-light {
    position: absolute;
    margin: 0;
  }

  .profile__avatar-button::after {
    content: "";
  }

  .profile__name {
    margin: 0 0 6px;
    max-width: 288px;
    font-size: 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-button {
    margin-left: auto;
  }

  .profile__new-post-button {
    margin: 0;
    width: 100%;
  }
}
